# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.tt4-final-exam-2150_2025050212001600.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
